<div class="card">
    <h5 class="card-header bg-danger">
        Oops, something broke!
    </h5>
    <div class="card-body">
        <p class="card-text">Unfortunately, we encountered an error: <strong>{{errorMessage}}</strong>.</p>
        {{#if furtherDetails}}
        <p class="card-text"><strong>Further details:</strong><br>{{furtherDetails}}</p>
        {{/if}}
        <p class="card-text">Please try again, or click <a href="/">here</a> to return home.</p>
    </div>
</div>